nav ul li{
    padding:20px;
    color: white;
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul{
    margin: 0%;
}
/* nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
} */
